{% include 'nav.html' %}
{% load hitcount_tags %}

    {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
    </button>
    </div>
        {% endfor %}
        {% endif %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

    <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">



    {% for actv in activities %}
    <div class="card">
    

  <div class="card-header">
    <h4><strong>{{actv.activity_name}} </strong> </h4>
    </div>
    <div class="card-body"><strong>Description:</strong> <br>
    <p class="card-title">{{actv.description}}</p> <br>
    <p class="card-text"><strong>Requirements:</strong>
    <p class="card-text">{{actv.requirement}}</p> <br>
    <p class="card-text"><strong>Place: </strong>{{actv.place}}</p> 
     <p class="card-text"><strong>Organizanion: </strong>{{actv.organization}}</p> 
    <p class="card-text"><strong>Number of people required: </strong> {{ actv.people_required }}</p> 
     <p class="card-text"><strong>Duration: </strong>{{actv.duration}} Hours</p> 
     <p class="card-text text-sm"><i>Posted: {{actv.time}}</i></p> 

     {% if request.user.is_authenticated %}
    <a href="{% url 'apply' actv.id %}"><button type="button" class="btn btn-primary btn-sm">Apply</button></a> {{ applied_no }}
    {% else %}
    <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-sm">Apply</button></a> {{ applied_no }}
    {% if actv.people_required <= applied_no %}
    <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-sm">No Chances</button></a> {{ applied_no }}
    {% endif %}
    {% endif %}
  </div>
</div>

    {% endfor %}  

</div>
    </main>
