{% include 'navbar.html' %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

    <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">



    {% for activity in activities %}
    <div class="card">
    

  <div class="card-header">
    <h4><strong>{{activity.activity_name}} </strong> </h4>
    </div>
    <div class="card-body"><strong>Description:</strong> <br>
    <p class="card-title">{{activity.description}}</p> <br>
    <p class="card-text"><strong>Requirements:</strong>
    <p class="card-text">{{activity.requirement}}</p> <br>
    <p class="card-text"><strong>Place: </strong>{{activity.place}}</p> 
     <p class="card-text"><strong>Organizanion: </strong>{{activity.organization}}</p> 
    <p class="card-text"><strong>Number of people required: </strong> {{activity.people_required}}</p> 
     <p class="card-text"><strong>Duration: </strong>{{activity.duration}} Hours</p> 
     <p class="card-text text-sm"><i>Posted: {{activity.time}}</i></p> 
    <button type="submit" class="btn btn-primary btn-sm">Apply</button>
  </div>
</div>

    {% endfor %} 

</div>
    </main>
