
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>

<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>

      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Voluntary Management System
      </h2><br>
      <p class="mt-2 text-center text-sm text-gray-600">
    
        <div class="font-medium text-center text-indigo-600 hover:text-indigo-500">
          Successful logout !
        </div>

      </p>
    </div>

        


      <div class="flex items-center justify-between">


        <div class="text-sm">
          <div class="font-medium text-indigo-600 hover:text-indigo-500">
            
          </a>
        </div>
        </div>
      </div>

      <div>

        <a href="{% url 'login' %}">
        <button type="button" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">

          Back To Login
        </button>

        </a>

      </div>
    </form>
  </div>
</div>


        
        <script src="" async defer></script>
    </body>
</html>